.menu-list {
  margin-top: 100px;
}
.menu-list__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1.2fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 50px;
  margin-bottom: 50px;
}
.menu-list__item {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(240, 90, 40, 0.15);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fit, 400px);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.menu-list__item:hover {
  transform: translateY(-5px);
}
.menu-list__info {
  padding: 15px 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-list__price {
  color: rgb(218, 143, 102);
  font-weight: 700;
}
